body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Assure que le body prend au moins toute la hauteur de l'écran */
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px; /* Limite la largeur du formulaire */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Important pour que le padding n'affecte pas la largeur */
    resize: vertical; /* Permet de redimensionner verticalement */
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #449d44;
}

h2 {
    color: #337ab7;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px 12px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 4px;
}

/* Style pour le footer (optionnel) */
footer {
    text-align: center;
    margin-top: auto; /* Pousse le footer en bas */
    padding: 10px;
    background-color: #333;
    color: #fff;
    width: 100%;
}

/* Styles pour les messages flash */
.flashes {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    width: 80%; /* Ajustez selon vos besoins */
    max-width: 600px;
}

.flashes li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.flashes li.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.flashes li.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}